---
comments: true
---
<p>{{ page.date }} - Written by {{ page.author }}</p>

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
let disqus_config = function () {
    this.page.url = 'https://blog.eltonplima.dev';
    this.page.identifier = '3bc69473-580d-4e91-9f1b-9f0b77843ae1';
};

(function() {
    let d = document, s = d.createElement('script');
    s.src = 'https://blog-eltonlima-dev.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
